@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@1,300;1,700;1,900&display=swap");
* {
  margin: 0;
  font-family: "Lato", sans-serif;
}

$primary: #fd2d01;
$secondary: #ffd7d7;
$tertiary: #4e5166;
