@mixin btn {
  background: $tertiary;
  padding: 10px 0;
  border-radius: 25px;
  color: $secondary;
  width: 120px;
  font-size: large;
  cursor: pointer;
  border: 1.5px solid white;
  box-shadow: 5px 5px 20px 1px $tertiary;
  &:hover {
    color: $primary;
    border: $primary 1.5px solid;
  }
}

@mixin h2 {
  color: $tertiary;
  padding: 20px;
  text-decoration: underline $primary;
  font-weight: bold;
}

@mixin mobile {
  @media (max-width: 600px) {
    @content;
  }
}

@mixin tablet {
  @media (max-width: 1200px) {
    @content;
  }
}
